<div>
    <h2>Ejemplo de cliente con Socket.IO</h2>
</div>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
<script type="module">
    const url = ''; // vacío para localhost
    const options = {};

    const socketClient = io(url, options);

    socketClient.on('connect', () => {
        console.log(`Conectado servidor socket.io ${url}`);
    });
</script>